In [1]:
import numpy as np 
import pandas as pd 
import scipy
import scipy.stats

In [3]:
df = pd.read_csv('bicicletas-compartidas.csv')

df

,fecha,bicis-compartidas,temp-obs,sens-temp,hum,viento,codigo-clima,festivo,findesemana,cuartil-ano
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
df.columns

Index(['fecha', 'bicis-compartidas', 'temp-obs', 'sens-temp', 'hum', 'viento',
       'codigo-clima', 'festivo', 'findesemana', 'cuartil-ano'],
      dtype='object')

In [6]:
y = df['bicis-compartidas'].values
y
#y es un arreglo que contiene todos los elementos de una muestra o población.

array([182, 138, 134, ..., 337, 224, 139])

In [7]:
y = np.where(y == 0, 1, y)

In [9]:
np.min(y)

1

In [10]:
np.max(y)

7860

# Media

In [11]:
# media = sum(yi)/n

np.mean(y)

1143.1016997817849

In [12]:
np.sum(y)/len(y)

1143.1016997817849

In [13]:
scipy.stats.mstats.hmean(y)

241.65180305136826

# Mediana

In [16]:
# Es el valor justo enmedio de todos los valores de una población.

np.median(y)

844.0

# Moda

In [19]:
# La moda es el valor más frecuencia
## moda = valor de y con la máxima frecuencia

moda = np.nan

valores, conteo_valores = np.unique(y, return_counts=True)

posicion = np.argmax(conteo_valores)

moda = valores[posicion]
moda

46

## Desviación estándar

In [20]:
np.std(y)

1085.0768508213835